<div class="modal-body">
  <%= f.error_notification %>
  <h4 class="mb-4">
    <%= current_sp_term.ordinal_number %><sup><%= current_sp_term.ordinal %></sup> Sanguniang Panlalawigan
  </h4>
  <%= f.input :event_number, label: "Session Number" %>
  <%= f.input :event_type, label: "Type", collection: SpSession.event_types.keys.to_a.map{|s| [s.titleize, s]}, selected: "regular" %>
  <%= f.input :date, as: :string, placeholder: "Select date...", input_html: { class: "dateSelect" } %>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>
