<div class="card shadow mb-4">
	<div class="card-header py-3">
		<div class="row">
			<div class="col-md-4">
				<h2 class="font-weight-bold text-primary"><%= @sp_session.title %></h2>
		    <small class="badge bg-info"><%= @sp_session.date.strftime("%B %e, %Y") %></small>
			</div>
			<div class="col-md-8">
				<ul class="nav nav-pills justify-content-end">
				  <li class="nav-item px-2">
				  	<%= link_to "Update Details", edit_sp_session_path(@sp_session), class: "btn btn-primary btn-sm float-right", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
				  </li>
				</ul>
				
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table">
			<tbody>
				<tr>
					<td>Description</td>
					<td><%= @sp_session.description %></td>
				</tr>
		  	<tr>
		      <td class="col-md-4">
		      	Attached Documents
		      	<%= simple_form_for @sp_session, url: sp_session_files_path(sp_session_id: @sp_session.id), html: {multipart: true }, method: :post do |f| %>
		          <%= f.input :file, label: false, input_html: { multipart: true, onchange: "this.form.submit();" } %>
		        <% end %>
		      </td>
		      <td>
		  			<% if @sp_session.file.present? %>
		  				<%= link_to @sp_session.file.filename, rails_blob_path(@sp_session.file, disposition: "inline"), target: "_blank" if @sp_session.file.attached? %>
		  				<%= link_to sp_session_file_path(sp_session_id: @sp_session.id, id: @sp_session.file.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-outline-danger rounded-circle text-danger float-right', title: 'Remove Attachment' do %>
	  						<span class="fa fas fa-times"></span>
	  					<% end if current_user_admin? %>
			  		<% end %>
			  	</td>
		  	</tr>
		  	<tr>
		      <td class="col-md-4">
		      	Signatory File
		      	<%= simple_form_for @sp_session, url: sp_session_signatory_files_path(sp_session_id: @sp_session.id), html: {multipart: true }, method: :post do |f| %>
		          <%= f.input :signatory_file, label: false, input_html: { multipart: true, onchange: "this.form.submit();" } %>
		        <% end %>
		      </td>
		      <td>
		  			<% if @sp_session.signatory_file.present? %>
		  				<%= link_to @sp_session.signatory_file.filename, rails_blob_path(@sp_session.signatory_file, disposition: "inline"), target: "_blank" if @sp_session.signatory_file.attached? %>
	  					<%= link_to sp_session_signatory_file_path(sp_session_id: @sp_session.id, id: @sp_session.signatory_file.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-outline-danger rounded-circle text-danger float-right', title: 'Remove Attachment' do %>
	  						<span class="fa fas fa-times"></span>
	  					<% end if current_user_admin? %>
			  		<% end %>
			  	</td>
		  	</tr>
		  </tbody>
		</table>
	</div>
</div>