<div class="row">
	<div class="col-md-12">
		<h4>Generate Report by Dates</h4>
		<%= form_tag({:action => "index", controller: "reports/minutes", format: 'pdf', target: "_blank"}, {:method => :get})  do %>
			<div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= text_field_tag :from_date, params[:from_date], :class => 'fDate form-control border-input', :placeholder => "From " %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= text_field_tag :to_date, params[:to_date], :class => 'form-control border-input tDate', :placeholder => "To " %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= select_tag :minute_type, options_for_select(Minute.minute_types.keys.map{|m| [m.titleize, m]}, params[:minute_type]), class: "form-control", prompt: "Select Category" %>
          </div>
        </div>
		    <div class="col-md-3">
		    	<%= button_tag "Generate (PDF)", class: "btn btn-outline-success float-right", data: { disable_with: "Processing...", target: "_blank" } %>
		    </div>
		  </div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.fDate').flatpickr({
      altInput: true,
      altFormat: "F j, Y",
      dateFormat: "Y-m-d"
    });
    $('.tDate').flatpickr({
      altInput: true,
      altFormat: "F j, Y",
      dateFormat: "Y-m-d"
    });
  });
</script>