<div class="mb-2">
	<span class="m-0 font-weight-bold h5">SP Terms</span>
	<%= link_to new_settings_sp_term_path, class: "btn btn-sm btn-outline-primary float-right rounded-circle", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
		<span class="fa fa-plus"></span>
	<% end %>
</div>
<div class="table-responsive">
  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
  	<table class="table">
      <tbody>
      	<% @sp_terms.each do |sp_term| %>
      		<tr>
      			<td><%= sp_term.ordinal_number %><sup><%= sp_term.ordinal %></sup> Sangguniang Panlalawigan</td>
      			<td><%= sp_term.in_year_range %></td>
      			<td><%= sp_term.current? ? "Current Term" : "" %></td>
      			<td class="text-right">
      				<%= link_to edit_settings_sp_term_path(id: sp_term.id), class: 'float-right', title: 'Edit', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
      					<i class="fa fa-edit"></i>
      				<% end %>
    				</td>
      		</tr>
      	<% end %>
      </tbody>
    </table>
  </div>
</div>