<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <%=form_tag searches_path, method: :get, class: "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for members, ordinances, resolutions, and files..." %>
      <span class="input-group-append">
        <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-primary") do %>
          <i class="fas fa-search fa-sm"></i>
        <% end %>
      </span>
    </div>
  <% end unless params[:controller] == "searches" %>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <%  unless params[:controller] == "searches" %>
    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <%=form_tag searches_path, method: :get, class: "form-inline mr-auto w-100 navbar-search" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for members, ordinances, resolutions, and files..." %>
            <span class="input-group-append">
              <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-primary") do %>
                <i class="fas fa-search fa-sm"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </li>
    <% end %>

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.full_name %></span>
        <%= image_tag(current_user.avatar.attached? ? current_user.avatar : "default.png", class: "img-profile rounded-circle") %>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <h6 class="dropdown-header"><%= current_user.full_name %></h6>
        <%= link_to user_path(current_user), class: 'dropdown-item' do %>
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        <% end %>
        <%= link_to user_settings_path(user_id: current_user.id), class: "dropdown-item" do %>
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Account Settings
        <% end %>
        <div class="dropdown-divider"></div>
        <%=button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        <% end %>
      </div>
    </li>
  </ul>
</nav>