<div class="modal-body">
  <%= f.error_notification %>

  <%= f.input :member_id, collection: Member.all.order(:first_name).map{|m| [m.name, m.id] }, input_html: {id: "memberSelect"} %>
  <%= f.input :committee_membership_id, label: 'Term', collection: @committee.committee_memberships.map{|c| [c.term, c.id]} %>
  <%= f.input :committee_id, input_html: {value: @committee.id}, as: :hidden %>
  <%= f.input :role, collection: CommitteeMember.roles.keys.to_a.map{|a| [a.titleize, a]} %>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>
<script type="text/javascript">
  $( "#memberSelect" ).select2({
    theme: "bootstrap",
    width: '100%'
  });
</script>