<div class="row">
  <div class="col-md-6">
    <%=form_tag committee_members_path(committee_id: committee.id), method: :get, data: { controller: "filter-form", "filter-form-target": "filterForm", action: "ajax:success->filter-form#onPostSuccess" } do %>
      <div class="input-group mb-4 w-25">
        <%= select_tag :committee_membership_id, options_for_select(committee.committee_memberships.order(start_of_term: :desc).map{|s| [s.term, s.id]}, params[:committee_membership_id]), class: "form-control", prompt: "Select Term", data: { action: "change->filter-form#formSubmit" } %>
        <!-- <span class="input-group-append">
          <%#= button_tag(type: 'submit', id: "search-btn", class: "btn btn-primary", title: "Filter", data: {"filter-form-target": "submitForm"}) do %>
            <i class="fas fa-filter fa-sm">Filter</i>
          <%# end %>
        </span> -->
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= link_to "Add Committee Member", new_committee_member_path(committee), class: "btn btn-primary btn-sm float-right", data: { turbo_frame: "remote_modal", turbo: true } %>
  </div>
</div>
<table class="table">
	<tbody>
    <% members.each do |member| %>
    	<tr>
            <td><%= member.name %></td>
            <td><%= member.role.titleize %></td>
        	<td class="text-right">
                <%= link_to "Edit", edit_committee_member_path(committee_id: committee.id, id: member.id), data: { turbo_frame: "remote_modal", turbo: true }%> | 
                <%= button_to "Delete", committee_member_path(committee_id: committee.id, id: member.id), method: :delete, data: {confirm: "Are you sure?"}, form: { class: 'd-inline'}, class: 'btn btn-link' %></td>
    	</tr>
    <% end %>
  </tbody>
</table>