<div class="row">
  <div class="col-md-6">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <%= CommitteeMembership.find(params[:committee_membership_id]).term %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% if committee.committee_memberships.present? %>
          <% committee.committee_memberships.order(start_of_term: :desc).each do |committee_membership| %>
            <li>
              <%= link_to committee_membership.term, committee_members_path(committee_id: committee.id, committee_membership_id: committee_membership.id), class: "dropdown-item" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <%= link_to "Add Committee Member", new_committee_member_path(committee), class: "btn btn-primary btn-sm float-right", data: { turbo_frame: "remote_modal", turbo: true } %>
  </div>
</div>
<table class="table">
	<tbody>
    <% members.each do |member| %>
    	<tr>
            <td><%= member.name %></td>
            <td><%= member.role.titleize %></td>
        	<td class="text-right">
                <%= link_to "Edit", edit_committee_member_path(committee_id: committee.id, id: member.id), data: { turbo_frame: "remote_modal", turbo: true }%> | 
                <%= button_to "Delete", committee_member_path(committee_id: committee.id, id: member.id), method: :delete, data: {confirm: "Are you sure?"}, form: { class: 'd-inline'}, class: 'btn btn-link' %></td>
    	</tr>
    <% end %>
  </tbody>
</table>