<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <%=form_tag committee_members_path(committee_id: committee.id), method: :get do %>
          <div class="input-group">
            <%= select_tag :committee_membership_id, options_for_select(committee.committee_memberships.order(start_of_term: :desc).map{|s| [s.term, s.id]}, params[:committee_membership_id]), class: "form-control", prompt: "Select Term", onchange: 'this.form.submit();' %>
          </div>
        <% end %>
      </div>
      <div class="col-md-9 col-sm-12">
        <%= link_to "New Committee Member", new_committee_member_path(committee_id: committee.id), class: "btn btn-primary btn-sm float-right my-md-0 my-3", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } if current_user_admin? %>
      </div>
    </div>
    <br>
    <table class="table">
    	<tbody>
        <% members.each do |member| %>
        	<tr>
            <td>
              <%= member.name %>
              <p class="text-muted mt-0"><%= member.titleized_role %></p>
            </td>
          	<td class="text-right">
              <% if current_user_admin? %>
                <%= link_to "Edit", edit_committee_member_path(committee_id: committee.id, id: member.id), class: 'btn btn-sm btn-primary', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
                <%= link_to "Delete", committee_member_path(committee_id: committee.id, id: member.id), method: :delete, data: {confirm: "Are you sure?"}, form: { class: 'd-inline'}, class: 'btn btn-sm btn-warning' %>
              <% end %>
            </td>
        	</tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>