<div class="card">
  <div class="card-body">
    <%= link_to "Add Term", new_committee_term_path(committee), class: "btn btn-primary btn-sm float-right my-md-0 my-3", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } if current_user_admin? %>
    <table class="table">
    	<tbody>
        <% terms.each do |term| %>
        	<tr>
            <td>
              <%= term.name %>
              <p class="text-muted my-0"><%= term.in_date_range %></p>
            </td>
        		<td class="text-right">
              <% if current_user_admin? %>
              <%= link_to "Edit", edit_committee_term_path(committee_id: committee.id, id: term.id), class: "btn btn-sm btn-primary mb-md-0 mb-3", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
              <%= link_to "Delete", committee_term_path(committee_id: committee.id, id: term.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-warning' %>
              <% end %>
            </td>
        	</tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>