<%= simple_form_for term, html: { autocomplete: "off" }, url: @term.persisted? ? committee_term_path(id: @term.id, committee_id: committee.id) : committee_terms_path(committee_id: committee.id), method: @term.persisted? ? :patch : :post do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name, label: "Committee Name", input_html: {value: @term.persisted? ? @term.name : @committee.name} %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_of_term, as: :string, label: "Start of term", placeholder: "Select date...", input_html: { class: "datepickFrom"} %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_of_term, as: :string, label: "End of term", placeholder: "Select date...", input_html: { class: "datepickTo"} %>
    </div>
  </div>

  <%= f.input :committee_id, input_html: {value: committee.id}, as: :hidden %>
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing...", turbo: true } %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var dateFrom = new Date(<%= @term.persisted? ? @term.start_of_term.present? ? @term.start_of_term.strftime("%Y, %m-1, %d") : Date.today.strftime("%Y, 6, 1") : Date.today.strftime("%Y, 6, 1") %>);
    var dateTo = new Date(<%= @term.persisted? ? @term.end_of_term.present? ? @term.end_of_term.strftime("%Y, %m-1, %d") : Date.today.strftime("%Y+3, 5, 30") : Date.today.strftime("%Y+3, 5, 30") %>);
    
    $('.datepickFrom').flatpickr({
      altInput: true,
      altFormat: "F j, Y",
      dateFormat: "Y-m-d",
      defaultDate: dateFrom
    });
    $('.datepickTo').flatpickr({
      altInput: true,
      altFormat: "F j, Y",
      dateFormat: "Y-m-d",
      defaultDate: dateTo
    });
  });
</script>