<%= simple_form_for term, html: { autocomplete: "off" }, url: @term.persisted? ? committee_term_path(id: @term.id, committee_id: committee.id) : committee_terms_path(committee_id: committee.id), method: @term.persisted? ? :patch : :post do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name, label: "Committee Name", input_html: {value: @term.persisted? ? @term.name : @committee.name} %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_of_term, as: :string, label: "Start of term", placeholder: "Select date...", input_html: { class: "datepickFrom", value: @term.persisted? ? @term.start_of_term.present? ? @term.start_of_term.strftime("%B %e, %Y") : Date.today.strftime("%B %e, %Y") : Date.today.strftime("%B %e, %Y") } %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_of_term, as: :string, label: "End of term", placeholder: "Select date...", input_html: { class: "datepickTo", value: @term.persisted? ? @term.end_of_term.present? ? @term.end_of_term.strftime("%B %e, %Y") : Date.today.strftime("%B %e, %Y") : Date.today.strftime("%B %e, %Y") } %>
    </div>
  </div>

  <%= f.input :committee_id, input_html: {value: committee.id}, as: :hidden %>
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing...", turbo: true } %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var date = new Date(), y = date.getFullYear(), m = date.getMonth();
    <% if @term.persisted? %>
      var persistedDateFrom = new Date(<%= @term.start_of_term.year %>, <%= @term.start_of_term.month - 1 %>, <%= @term.start_of_term.day %>);
      var persistedDateTo = new Date(<%= @term.end_of_term.year %>, <%= @term.end_of_term.month - 1 %>, <%= @term.end_of_term.day %>);
    <% end %>
    var date_from = <%= @term.persisted? ? 'persistedDateFrom' : 'new Date(y, 6, 1)' %>;
    var date_to = <%= @term.persisted? ? 'persistedDateTo' : 'new Date(y+3, 5, 30)' %>;

    $('.datepickFrom').flatpickr({
      dateFormat: "F j, Y",
      defaultDate: date_from
    });

    $('.datepickTo').flatpickr({
      dateFormat: "F j, Y",
      defaultDate: date_to
    });
  });
</script>