<div class="modal-body">
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name, label: "Committee Name", input_html: {value: @term.persisted? ? @term.name : @committee.name} %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_of_term, as: :string, label: "Start of term", placeholder: "Select date...", input_html: { class: "datepickFrom"} %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_of_term, as: :string, label: "End of term", placeholder: "Select date...", input_html: { class: "datepickTo"} %>
    </div>
  </div>

  <%= f.input :committee_id, input_html: {value: @committee.id}, as: :hidden %>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing...", turbo: true } %>
</div>