<p class="text-muted mb-1">Records Count: <%= @results.count %></p>
<table class="table">
	<tbody>
    <% ordinances.each do |ordinance| %>
    	<tr>
            <td class="col-md-2"><%= ordinance.number %></td>
            <td><%= ordinance.title %></td>
    		<td>
                <% ordinance.documents.each do |document| %>
                    <%= link_to ordinance.name, ordinance_path(id: ordinance.id) %>
                <% end %>   
            </td>
    	</tr>
    <% end %>
  </tbody>
</table>
<center><%= paginate ordinances, :window => 1 %></center>