<div class="row">
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header">
        <h4>
          Salary Adjustments
          <%= link_to new_member_salary_adjustment_path(member), class: "btn btn-outline-primary float-right rounded-circle", title: "New Salary Adjustment", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
            <span class="fa fas fa-plus"></span>
          <% end if current_user_admin? %>
        </h4>
      </div>
      <div class="card-body">
        <table class="table">
          <% @salary_adjustments.each do |salary_adjustment| %>
            <tbody>
              <tr>
                <td class="py-1 text-muted">Term</td>
                <td class="py-1 text-right"><%= salary_adjustment.term.in_year_range %></td>
              </tr>
              <tr>
                <td class="py-1 text-muted">Dated At</td>
                <td class="py-1 text-right"><%= salary_adjustment.dated_at.strftime("%B %e, %Y") %></td>
              </tr>
              <tr>
                <td class="py-1 text-muted">Effectivity Date</td>
                <td class="py-1 text-right"><%= salary_adjustment.effectivity_date.strftime("%B %e, %Y") %></td>
              </tr>
              <tr>
                <td class="py-1 text-muted">Basic Salary</td>
                <td class="py-1 text-right"><%= number_to_currency salary_adjustment.monthly_salary %></td>
              </tr>
                <td class="py-1 text-muted">Adustment</td>
                <td class="py-1 text-right"><%= number_to_currency salary_adjustment.adjustment %></td>
              </tr>
              <tr>
                <td class="py-1 text-muted">Adusted Salary</td>
                <td class="py-1 text-right"><%= number_to_currency salary_adjustment.adjusted_salary %></td>
              </tr>
              <tr>
                <td colspan="2" class="text-right">
                  <% if current_user_admin? %>
                    <%= link_to "Edit", edit_member_salary_adjustment_path(member_id: member.id, id: salary_adjustment.id), class: "btn btn-sm btn-primary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
                    <%= link_to "Delete", member_salary_adjustment_path(member_id: member.id, id: salary_adjustment.id), class: "btn btn-sm btn-warning", method: :delete, data: {confirm: "Are you sure?"} %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4>
          Step Increment
          <%= link_to new_member_step_increment_path(member), class: "btn btn-outline-primary float-right rounded-circle", title: "New Step Increment", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
            <span class="fa fas fa-plus"></span>
          <% end if current_user_admin? %>
        </h4>
      </div>
      <div class="card-body">
        <table class="table">
          <% @step_increments.each do |increment| %>
            <tbody>
              <tr>
                <td class="py-1 text-muted">Term</td>
                <td class="py-1 text-right"><%= increment.term.in_year_range %></td>
              </tr>
              <tr>
                <td class="py-1 text-muted">Dated At</td>
                <td class="py-1 text-right"><%= increment.dated_at.strftime("%B %e, %Y") %></td>
              </tr>
              <tr>
                <td class="py-1 text-muted">Effectivity Date</td>
                <td class="py-1 text-right"><%= increment.effectivity_date.strftime("%B %e, %Y") %></td>
              </tr>
              <tr>
                <td class="py-1 text-muted">Basic Salary</td>
                <td class="py-1 text-right"><%= number_to_currency increment.salary_prior_to_adjustment %></td>
              </tr>
                <td class="py-1 text-muted">Adustment</td>
                <td class="py-1 text-right"><%= number_to_currency increment.salary_adjustment %></td>
              </tr>
              <tr>
                <td class="py-1 text-muted">Adusted Salary</td>
                <td class="py-1 text-right"><%= number_to_currency increment.adjusted_salary %></td>
              </tr>
              <tr>
                <td colspan="2" class="text-right">
                  <% if current_user_admin? %>
                    <%= link_to "Edit", edit_member_step_increment_path(member_id: member.id, id: increment.id), class: "btn btn-sm btn-primary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
                    <%= link_to "Delete", member_step_increment_path(member_id: member.id, id: increment.id), class: "btn btn-sm btn-warning", method: :delete, data: {confirm: "Are you sure?"} %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
  </div>
</div>
