<div class="card">
  <div class="card-body">
    <%= link_to "New Term", new_member_term_path(member), class: "btn btn-primary btn-sm float-right mb-md-0 mb-3", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } if current_user_admin? %>
    <table class="table">
    	<tbody>
        <% terms.each do |term| %>
        	<tr>
            <td>
              <b><%= term.try(:in_date_range) %></b><br>
              <%= term.position %><%= term.appointed %><br>
              <%= term.political_party %><br>
              <%= term.appointment_status.try(:titleize) %>
            </td>
        		<td class="text-right">
              <% if current_user_admin? %>
                <%= link_to "Edit", edit_member_term_path(member_id: member.id, id: term.id), class: 'btn btn-sm btn-primary mb-md-0 mb-3', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %> 
                <%= link_to "Delete", member_term_path(member_id: member.id, id: term.id), class: 'btn btn-sm btn-warning', method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </td>
        	</tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>