<div class="card">
  <div class="card-body">
    <%= link_to new_member_term_path(member), class: "btn btn-outline-primary rounded-circle float-right mb-2", title: "New Term", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
      <span class="fa fa-plus"></span>
    <% end if current_user_admin? %>
    <table class="table">
    	<tbody>
        <% terms.each do |term| %>
        	<tr>
            <td>
              <b><%= term.try(:in_date_range) %></b><br>
              <%= term.position %><%= term.appointed %><br>
              <%= term.political_party %><br>
              <%= term.appointment_status.try(:titleize) %>
            </td>
        		<td class="text-right">
              <% if current_user_admin? %>
                <div class="dropdown no-arrow d-sm-none">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to edit_member_term_path(member_id: member.id, id: term.id), class: 'dropdown-item text-primary', title: "Edit", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
                      <i class="fa fa-edit"></i> Edit
                    <% end %> 
                    <div class="dropdown-divider"></div>
                    <%= link_to member_term_path(member_id: member.id, id: term.id), class: 'dropdown-item text-danger', title: "Delete", method: :delete, data: {confirm: "Are you sure?"} do %>
                      <i class="fa fa-trash-alt"></i> Delete
                    <% end %>
                  </div>
                </div>
                <div class="d-none d-sm-inline-block">
                  <%= link_to edit_member_term_path(member_id: member.id, id: term.id), class: 'btn btn-sm btn-outline-primary rounded-circle mr-3', title: "Edit", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
                    <i class="fa fa-edit"></i>
                  <% end %> 
                  <%= link_to member_term_path(member_id: member.id, id: term.id), class: 'btn btn-sm btn-outline-danger rounded-circle', title: "Delete", method: :delete, data: {confirm: "Are you sure?"} do %>
                    <i class="fa fa-trash-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </td>
        	</tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>