<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Members', reports_members_path, class: "nav-link #{'active' if current_page?(reports_members_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Committees', reports_committees_path, class: "nav-link #{'active' if current_page?(reports_committees_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Ordinances', reports_ordinances_path, class: "nav-link #{'active' if current_page?(reports_ordinances_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Resolutions', reports_resolutions_path, class: "nav-link #{'active' if current_page?(reports_resolutions_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Minutes', reports_minutes_path, class: "nav-link #{'active' if current_page?(reports_minutes_path)}" %>
  </li>
</ul>