<%= render "users/shared/card", user: current_user %>
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<ul class="nav nav-pills">
		  <li class="nav-item">
		    <%= link_to 'Profile', user_path(current_user), class: "nav-link #{'active' if current_page?(user_path(current_user))}" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to 'Settings', user_settings_path(current_user), class: "nav-link #{'active' if current_page?(user_settings_path(current_user))}" %>
		  </li>
		  </li>
		</ul>
	</div>
	<div class="card-body">
		<% if current_page?(user_path(current_user)) %>
	    <%=render 'users/shared/details', user: current_user %>
	  <% end %>
		<% if current_page?(user_settings_path(current_user)) %>
	    <%=render 'users/shared/settings', user: current_user %>
	  <% end %>
	</div>
</div>