<div class="card">
	<div class="card-header">
		<h4 class="">User Profile</h4>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-2">
				<% if @user.avatar.attached? %>
					<%= image_tag(@user.avatar, height: 150, width: 150, class: "img-profile rounded-circle float-md-right") %>
				<% else %>
					<%= image_tag('default', height: 150, width: 150, class: "img-profile rounded-circle float-md-right") %>
				<% end %>
			</div>
			<div class="col-md-8">
				<table class="table">
					<tr>
						<td>Name:</td>
						<td><h5><%= @user.full_name %></h5></td>
					</tr>
					<tr>
						<td>Role:</td>
						<td><h5><%= @user.role.titleize %></h5></td>
					</tr>
					<tr>
						<td>Username:</td>
						<td><h5><%= @user.username %></h5></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><h5><%= @user.email %></h5></td>
					</tr>
					<tr>
						<td>Office:</td>
						<td><h5><%= @user.office.name %></h5></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>