<div class="card shadow mb-2">
	<div class="card-header py-3">
		<h2 class="font-weight-bold text-primary">Ordinance # <%= @ordinance.number %></h2>
    <small class="badge bg-info"><%= @ordinance.current_stage.titleize if @ordinance.stages.present? %></small>
    <span class="badge bg-info"><%= @ordinance.date_approved if @ordinance.stages.present? %></span>
	</div>
</div>
<% if current_user_admin? %>
	<div class="btn-group mb-2" role="group">
		<%= link_to "Update Details", edit_ordinance_path(@ordinance), class: "btn btn-primary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
		<%= link_to 'Update Stage', @ordinance.stagings.present? ? edit_ordinance_stage_path(ordinance_id: @ordinance.id, id: @ordinance.stagings.last.id) : new_ordinance_stage_path(@ordinance), class: "btn btn-secondary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
		<%= link_to 'Add Sponsor', new_ordinance_sponsor_path(@ordinance), class: "btn btn-secondary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	  <div class="btn-group" role="group">
	    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Add Authors
	    </button>
	    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
	      <%= link_to 'Principal Authors', new_ordinance_authorships_author_path(ordinance_id: @ordinance.id), class: "dropdown-item", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
      	<%= link_to 'Co Authors', new_ordinance_authorships_co_author_path(ordinance_id: @ordinance.id), class: "dropdown-item", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
      	<div class="dropdown-divider"></div>
      	<%= link_to 'Single Author', new_ordinance_author_path(@ordinance), class: "dropdown-item", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	    </div>
	  </div>
	</div>
<% end %>
<div class="card shadow">
	<div class="card-body">
		<%#= link_to "Status Logs", ordinance_stages_path(ordinance_id: @ordinance.id), class: 'float-right mr-3 mt-3' %>
		<table class="table mt-3">
			<tbody>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Title</p>
		      	<%= @ordinance.title %>
		      </td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Date Received</p>
		      	<%= @ordinance.date.strftime("%B %e, %Y") if @ordinance.date.present? %>
		      </td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Sponsors</p>
		  			<% @sponsors.each do |sponsor| %>
	  					<%= sponsor.name %>
			  			<span class="float-right">
			  				<% if current_user_admin? %>
				  				<%#= link_to "Edit", edit_ordinance_sponsor_path(ordinance_id: @ordinance.id, id: @ordinance.sponsorships.where(sponsor_id: sponsor.id).last.id), class: "btn btn-sm btn-primary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %> 
				  				<%= link_to ordinance_sponsor_path(ordinance_id: @ordinance.id, id: @ordinance.sponsorships.where(sponsor_id: sponsor.id).last.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'text-danger float-right', title: "Remove Sponsor" do %>
				  					<span class="fa fas fa-times"></span>
				  				<% end %>
				  			<% end %>
			  			</span>
			  			<hr class="my-1">
			  		<% end %>
		  		</td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Author/s</p>
		  			<% if @principal_authors.present? %>
			  			<p class="text-muted mb-1">Principal-Authors</p>
			  			<% @principal_authors.each do |author| %>
		  					<span class="ml-2"><%= author.name_in_honorifics %></span>
			  				<% if current_user_admin? %>
				  				<%#= link_to "Edit", edit_ordinance_author_path(ordinance_id: @ordinance.id, id: @ordinance.authorships.where(author_id: author.id).last.id), class: 'btn btn-sm btn-primary', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %> 
				  				<%= link_to ordinance_author_path(ordinance_id: @ordinance.id, id: @ordinance.authorships.where(author_id: author.id).last.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'text-danger float-right', title: "Remove Author" do %>
				  					<span class="fa fas fa-times"></span>
				  				<% end %>
				  			<% end %>
				  			<hr class="my-1">
				  		<% end %>
				  	<% end %>
				  	<% if @co_authors.present? %>
			  			<p class="text-muted mb-1 mt-3">Co-Authors</p>
				  		<% @co_authors.each do |author| %>
		  					<span class="ml-2"><%= author.name_in_honorifics %></span>
			  				<% if current_user_admin? %>
				  				<%#= link_to "Edit", edit_ordinance_author_path(ordinance_id: @ordinance.id, id: @ordinance.authorships.where(author_id: author.id).last.id), class: 'btn btn-sm btn-primary', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %> 
				  				<%= link_to "Delete", ordinance_author_path(ordinance_id: @ordinance.id, id: @ordinance.authorships.where(author_id: author.id).last.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'text-danger float-right', title: "Remove Author" do %>
				  					<span class="fa fas fa-times"></span>
				  				<% end %>
				  			<% end %>
				  			<hr class="my-1">
				  		<% end %>
				  	<% end %>
		  		</td>
		  	</tr>
		  	<tr>
		  		<td>
		  			<p class="text-muted mb-0">Stage/Status</p>
		  			<%= @ordinance.status if @ordinance.stagings.present? %>
		  		</td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Remarks</p>
		      	<%= @ordinance.remarks %>
		      </td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Attached Documents</p>
		      	<%= simple_form_for @ordinance.documents.new, url: ordinance_documents_path(ordinance_id: @ordinance.id), html: {multipart: true }, method: :post do |f| %>
		          <%= f.input :document_file, label: false, input_html: { multipart: true, onchange: "this.form.submit();" } %>
		        <% end if current_user_admin? %>
		  			<% if @ordinance.documents.present?  %>
		  				<% @ordinance.documents.each do |document| %>
		  					<% if document.document_file.attached? %>
				  				<%= link_to document.name, rails_blob_path(document.document_file, disposition: "inline"), target: "_blank" %>
				  				<%= link_to ordinance_document_path(ordinance_id: @ordinance.id, id: document.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'text-danger float-right', title: "Remove Attachment" do %>
				  					<span class="fa fas fa-times"></span>
				  				<% end if current_user_admin? %>
				  			<% end %>
			  			<% end %>
			  		<% end %>
			  	</td>
		  	</tr>
		  </tbody>
		</table>
	</div>
</div>