<%= simple_form_for @term, html: { autocomplete: "off" }, url: @term.persisted? ? member_term_path(id: @term.id, member_id: @member.id) : member_terms_path(member_id: @member.id) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_of_term, as: :string, label: "Start of term", placeholder: "Select date...", input_html: { class: "datepickFrom" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_of_term, as: :string, label: "End of term", placeholder: "Select date...", input_html: { class: "datepickTo" } %>
    </div>
  </div>
  <%= f.input :position_id, collection: Position.for_members.map{|t| [t, t.id]} %>
  <%= f.input :appointment_status, collection: Term.appointment_statuses.keys.to_a.map{|t| [t.titleize, t]} %>
  <%= f.input :political_party_id, collection: PoliticalParty.all.map{|t| [t, t.id]} %>
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var dateFrom = new Date(<%= @term.persisted? ? @term.start_of_term.present? ? @term.start_of_term.strftime("%Y, %m-1, %d") : Date.today.strftime("%Y, 6, 1") : Date.today.strftime("%Y, 6, 1") %>);
    var dateTo = new Date(<%= @term.persisted? ? @term.end_of_term.present? ? @term.end_of_term.strftime("%Y, %m-1, %d") : Date.today.strftime("%Y+3, 5, 30") : Date.today.strftime("%Y+3, 5, 30") %>);
    $('.datepickFrom').flatpickr({
      altInput: true,
      altFormat: "F j, Y",
      dateFormat: "Y-m-d",
      defaultDate: dateFrom
    });
    $('.datepickTo').flatpickr({
      altInput: true,
      altFormat: "F j, Y",
      dateFormat: "Y-m-d",
      defaultDate: dateTo
    });
  });
</script>