<div class="modal-body">
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_of_term, as: :string, label: "Start of term", placeholder: "Select date...", input_html: { class: "datepickFrom" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_of_term, as: :string, label: "End of term", placeholder: "Select date...", input_html: { class: "datepickTo" } %>
    </div>
  </div>
  <%= f.input :position_id, collection: Position.for_members.map{|t| [t, t.id]} %>
  <%= f.input :appointment_status, collection: Term.appointment_statuses.keys.to_a.map{|t| [t.titleize, t]} %>
  <%= f.input :political_party_id, collection: PoliticalParty.all.map{|t| [t, t.id]} %>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>