<div class="card shadow mb-2">
	<div class="card-header py-3">
		<h2 class="font-weight-bold text-primary">Municipal Ordinance No. <%= @municipal_ordinance.number %></h2>
    <span class="badge bg-info"><%= @municipal_ordinance.municipality %></span>
  </div>
</div>

<div class="card">
	<div class="card-body">
		<table class="table">
				<tbody>
			  	<tr>
			      <td>
			      	<h5 class="mb-0">
								Municipal Ordinance No. <%= @municipal_ordinance.number %>
							</h5>
			      </td>
			      <td>
			      	<% if current_user_admin? %>
								<div class="dropdown">
						      <button class="btn btn-outline-primary dropdown-toggle btn-dropdown-toggle float-right" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						        <span class="fa fas fa-ellipsis-v"></span>
						      </button>
						      <div class="dropdown-menu dropdown-menu-right bg-white option-dropdown-border" aria-labelledby="dropdownMenu2">
						      	<%= link_to edit_municipal_ordinance_path(id: @municipal_ordinance.id), class: "dropdown-item", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } do %>
						          <span class="fa fas fa-edit"> </span> Update Municipal Ordinance
						        <% end %>
						        <div class="dropdown-divider"></div>
						        <%= link_to municipal_ordinance_path(id: @municipal_ordinance.id), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } do %>
						          <span class="fa fas fa-times"> </span> Delete Municipal Ordinance 
						        <% end %>
						      </div>
						    </div>
						  <% end %>
			      </td>
			  	</tr>
			  	<tr>
			  		<td colspan="2">
			  			<p class="text-muted mb-0">Date Approved:</p>
			      	<%= @municipal_ordinance.date_approved.strftime("%B %e, %Y") %>
			      </td>
			    </tr>
			    <tr>
			  		<td colspan="2">
			      	<p class="text-muted mb-0">Municipality:</p>
			      	<%= @municipal_ordinance.municipality %>
			      </td>
			    </tr>
			    <tr>
			  		<td colspan="2">
			      	<p class="text-muted mb-0">Keyword:</p>
			      	<%= @municipal_ordinance.keyword %>
			  		</td>
			  	</tr>
			  </tbody>
			</table>
	</div>
</div>