<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h4 class="">Update Resolution</h4>
      </div>
      <div class="col-md-6">
        <%= link_to resolution_path(@resolution) do %>
          <h5 class="float-right fa fa-times pt-1"></h5>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= simple_form_for @resolution, html: { autocomplete: "off"}, url: resolution_path(@resolution), method: :patch do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :number %>
        </div>
        <div class="col-md-6">
          <%= f.input :date, as: :string, label: "Date Received", placeholder: "Select date...", input_html: { class: "datepicker" } %>
        </div>
      </div>
      <%= f.input :title, as: :text, input_html: {rows: 4} %>
      <%= f.input :category_id, collection: Category.all.map{ |a| [a, a.id]} %>
      <%= f.input :remarks, as: :text %>
      <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
    <% end %>

    <script type="text/javascript">
      $(document).ready(function() {
        var defDate = new Date(<%= @resolution.date.present? ? @resolution.date.strftime("%Y, %m-1, %d") : Date.today.strftime("%Y, %m-1, %d") %>);
        $('.datepicker').flatpickr({
          altInput: true,
          altFormat: "F j, Y",
          dateFormat: "Y-m-d",
          defaultDate: defDate
        });
      });
    </script>
  </div>
</div>
