<div class="card shadow mb-4">
	<div class="card-header py-3">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<h2 class="font-weight-bold text-primary">Resolutions</h2>
			</div>
			<div class="col-md-6 col-sm-12">
				<%=form_tag resolutions_path, method: :get, class: "" do %>
				  <div class="input-group">
				    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for resolution number or title..." %>
				    <span class="input-group-append">
				      <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-primary") do %>
				        <i class="fas fa-search fa-sm"></i>
				      <% end %>
				    </span>
				  </div>
				<% end %>
			</div>
			<div class="col-md-3 col-sm-12">
				<%= link_to "New Resolution", new_resolution_path, class: "btn btn-primary btn-sm text-right pull-right float-right", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } if current_user_admin? %>
			</div>
		</div>
		
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-3">
				<%=form_tag resolutions_path, method: :get do %>
				  <div class="input-group">
				    <%= select_tag :year, options_for_select([*1950.to_s..Date.today.year.to_s].reverse, params[:year]), class: "form-control", prompt: "Select Year", onchange: 'this.form.submit();' %>
				  </div>
				<% end %>
			</div>
			<div class="col-md-3">
				<%=form_tag resolutions_path, method: :get do %>
				  <div class="input-group">
				    <%= select_tag :category_name, options_for_select(["General", "Appropriation", "Re-alignment"], params[:category_name]), class: "form-control", prompt: "Select Category", onchange: 'this.form.submit();' %>
				  </div>
				<% end %>
			</div>
		</div>
		<p class="text-muted my-2">Records Count: <%= @results.count %></p>
		<div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
      	<table class="table">
	      	<thead>
	        	<tr>
	        		<td>Number</td>
	        		<td>Title</td>
	        		<td>Date Approved</td>
	        	</tr>
	        </thead>
	        <tbody>
	        	<% @resolutions.each do |resolution| %>
		        	<tr>
		        		<td>
		        			<%= highlight(resolution.number, params[:search]) %>
		        			<br>
		        			<small class="badge bg-info"><%= resolution.current_stage.titleize if resolution.current_stage.present? %></small>
		        		</td>
		        		<td class="col-md-8"><%= link_to highlight(resolution.title, params[:search]), resolution_path(resolution) %></td>
		        		<td>
		        			<%= resolution.date_approved %>
		        		</td>
		        	</tr>
		        <% end %>
	        </tbody>
	      </table>
	      <center><%= paginate @resolutions, :window => 1 %></center>
      </div>
    </div>
	</div>
</div>