<div class="card shadow mb-4">
	<div class="card-header py-3">
		<div class="row">
			<div class="col-md-4">
				<h2 class="font-weight-bold text-primary">Resolution # <%= @resolution.number %></h2>
		    <span class="badge bg-info"><%= @resolution.current_stage.titleize if @resolution.current_stage.present? %></span>
		    <span class="badge bg-info"><%= @resolution.date_approved if @resolution.stages.present? %></span>
			</div>
			<div class="col-md-8">
				<ul class="nav nav-pills justify-content-end">
					<li class="nav-item px-2">
				    <%= link_to 'Update Status', new_resolution_stage_path(@resolution), class: "btn btn-secondary btn-sm" %>
				  </li>
				  <li class="nav-item px-2">
				    <%= link_to 'Add Author', new_resolution_author_path(@resolution), class: "btn btn-secondary btn-sm" %>
				  </li>
				  <li class="nav-item px-2">
				    <%= link_to 'Add Sponsor', new_resolution_sponsor_path(@resolution), class: "btn btn-secondary btn-sm" %>
				  </li>
				  <li class="nav-item px-2">
				  	<%= link_to "Update Details", edit_resolution_path(@resolution), class: "btn btn-primary btn-sm float-right" %>
				  </li>
				</ul>
				<%= link_to "Status Logs", resolution_stages_path(resolution_id: @resolution.id), class: 'float-right mr-3 mt-3' %>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table">
			<tbody>
		  	<tr>
		      <td class="col-md-2">Title</td>
		  		<td><%= @resolution.title %></td>
		  	</tr>
		  	<tr>
		      <td class="col-md-2">Date Calendared</td>
		  		<td><%= @resolution.date.strftime("%B %e, %Y") if @resolution.date.present? %></td>
		  	</tr>
		  	<tr>
		      <td class="col-md-2">Authors</td>
		  		<td>
		  			<% @authors.each do |author| %>
	  					<%= author.name_in_honorifics %>
			  			<span class="float-right">
			  				<%= link_to "Edit", edit_resolution_author_path(resolution_id: @resolution.id, id: @resolution.authorships.where(author_id: author.id).last.id), class: 'd-inline' %> | 
			  				<%= button_to "Delete", resolution_author_path(resolution_id: @resolution.id, id: @resolution.authorships.where(author_id: author.id).last.id), method: :delete, data: {confirm: "Are you sure?"}, form: { class: 'd-inline'}, class: 'btn btn-link' %>
			  			</span>
			  			<hr>
			  		<% end %>		  				
		  		</td>
		  	</tr>
		  	<tr>
		      <td class="col-md-2">Sponsors</td>
		  		<td>
		  			<% @sponsors.each do |sponsor| %>
	  					<%= sponsor.name %>
			  			<span class="float-right">
			  				<%= link_to "Edit", edit_resolution_author_path(resolution_id: @resolution.id, id: @resolution.sponsorships.where(sponsor_id: sponsor.id).last.id), class: 'd-inline' %> | 
			  				<%= button_to "Delete", resolution_author_path(resolution_id: @resolution.id, id: @resolution.sponsorships.where(sponsor_id: sponsor.id).last.id), method: :delete, data: {confirm: "Are you sure?"}, form: { class: 'd-inline'}, class: 'btn btn-link' %>
			  			</span>
			  			<hr>
			  		<% end %>		  				
		  		</td>
		  	</tr>
		  	<tr>
		      <td class="col-md-2">Remarks</td>
		  		<td><%= @resolution.remarks %></td>
		  	</tr>
		  	<tr>
		      <td class="col-md-2">Attached Documents</td>
		      <td>
		      	<%= simple_form_for @resolution.document.present? ? @resolution.document : @resolution.build_document, url: resolution_documents_path(resolution_id: @resolution.id), html: {multipart: true }, method: :post do |f| %>
		          <%= f.input :document_file, label: false, input_html: { multipart: true, onchange: "this.form.submit();" } %>
		        <% end %>
		  			<% if @resolution.document.present? && @resolution.document.document_file.attached? %>
		  				<%= link_to @resolution.document.name, rails_blob_path(@resolution.document.document_file, disposition: "inline"), target: "_blank" %>
		  				<span class="float-right">
		  					<%= button_to "Delete", resolution_document_path(resolution_id: @resolution.id, id: @resolution.document.id), method: :delete, data: {confirm: "Are you sure?"}, form: { class: 'd-inline'}, class: 'btn btn-link' %>
		  				</span>
			  		<% end %>
			  	</td>
		  	</tr>
		  </tbody>
		</table>
	</div>
</div>