<div class="card shadow mb-2">
	<div class="card-header py-3">
		<h2 class="font-weight-bold text-primary">Resolution # <%= @resolution.number %></h2>
    <span class="badge bg-info"><%= @resolution.current_stage.titleize if @resolution.current_stage.present? %></span>
    <span class="badge bg-info"><%= @resolution.date_approved if @resolution.stages.present? %></span>
  </div>
</div>
<% if current_user_admin? %>
	<div class="btn-group mb-2" role="group">
		<%= link_to "Update Details", edit_resolution_path(@resolution), class: "btn btn-primary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
		<%= link_to 'Update Stage', @resolution.stagings.present? ? edit_resolution_stage_path(resolution_id: @resolution.id, id: @resolution.stagings.last.id) : new_resolution_stage_path(@resolution), class: "btn btn-secondary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
		<%= link_to 'Add Sponsor', new_resolution_sponsor_path(@resolution), class: "btn btn-secondary", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	  <div class="btn-group" role="group">
	    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Add Authors
	    </button>
	    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
	      <%= link_to 'Principal Authors', new_resolution_authorships_author_path(resolution_id: @resolution.id), class: "dropdown-item", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
      	<%= link_to 'Co Authors', new_resolution_authorships_co_author_path(resolution_id: @resolution.id), class: "dropdown-item", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
      	<div class="dropdown-divider"></div>
      	<%= link_to 'Single Author', new_resolution_author_path(@resolution), class: "dropdown-item", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	    </div>
	  </div>
	</div>
<%#= link_to "Status Logs", resolution_stages_path(resolution_id: @resolution.id), class: 'float-right mr-3 mt-3' %>
<% end %>
<div class="card">
	<div class="card-body">
		<table class="table">
			<tbody>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Title</p>
		      	<%= @resolution.title %>
		      </td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Date Recieved</p>
		  			<%= @resolution.date.strftime("%B %e, %Y") if @resolution.date.present? %></td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Authors</p>
		  			<% if @principal_authors.present? %>
			  			<p class="text-muted mb-1">Principal-Authors</p>
			  			<% @principal_authors.each do |author| %>
			  				<p class="my-1">
			  					<%= author.name_in_honorifics %>
				  				<% if current_user_admin? %>
					  				<%#= link_to "Edit", edit_resolution_author_path(resolution_id: @resolution.id, id: @resolution.authorships.where(author_id: author.id).last.id), class: 'btn btn-sm btn-primary', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
					  				<%= link_to resolution_author_path(resolution_id: @resolution.id, id: @resolution.authorships.where(author_id: author.id).last.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-outline-danger rounded-circle text-danger float-right', title: 'Remove Author' do %>
					  					<span class="fa fas fa-times"></span>
					  				<% end %>
					  			<% end %>
				  			</p>
				  			<hr class="my-1"> 			
				  		<% end %>
				  	<% end %>
					  <% if @co_authors.present? %>
			  			<p class="text-muted mb-1 mt-3">Co-Authors</p>
			  			<% @co_authors.each do |author| %>
			  				<p class="my-1">
			  					<%= author.name_in_honorifics %>
					  			<% if current_user_admin? %>
					  				<%#= link_to "Edit", edit_resolution_author_path(resolution_id: @resolution.id, id: @resolution.authorships.where(author_id: author.id).last.id), class: 'btn btn-sm btn-primary', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
					  				<%= link_to resolution_author_path(resolution_id: @resolution.id, id: @resolution.authorships.where(author_id: author.id).last.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-outline-danger rounded-circle text-danger float-right', title: 'Remove Author' do %>
					  					<span class="fa fas fa-times"></span>
						  			<% end %>
					  			<% end %>
					  		</p>
				  			<hr class="my-1">
				  		<% end %>
				  	<% end %>
		  		</td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Sponsors</p>
		  			<% @sponsors.each do |sponsor| %>
		  				<p class="my-1">
		  					<%= sponsor.name %>
			  				<% if current_user_admin? %>
				  				<%#= link_to "Edit", edit_resolution_sponsor_path(resolution_id: @resolution.id, id: @resolution.sponsorships.where(sponsor_id: sponsor.id).last.id), class: 'btn btn-sm btn-primary', class: 'btn btn-sm btn-primary', remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
				  				<%= link_to resolution_sponsor_path(resolution_id: @resolution.id, id: @resolution.sponsorships.where(sponsor_id: sponsor.id).last.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-outline-danger rounded-circle text-danger float-right', title: 'Remove Sponsor' do %>
				  					<span class="fa fas fa-times"></span>
					  			<% end %>
				  			<% end %>
				  		</p>
			  			<hr class="my-1">
			  		<% end %>		  				
		  		</td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Remarks</p>
		      	<%= @resolution.remarks %>
		      </td>
		  	</tr>
		  	<tr>
		      <td>
		      	<p class="text-muted mb-0">Attached Documents</p>
		      	<%= simple_form_for @resolution.documents.new, url: resolution_documents_path(resolution_id: @resolution.id), html: {multipart: true }, method: :post do |f| %>
		          <%= f.input :document_file, label: false, input_html: { multipart: true, onchange: "this.form.submit();" } %>
		        <% end if current_user_admin? %>
		  			<% if @resolution.documents.present? %>
		  				<% @resolution.documents.each do |document| %>
		  					<% if document.document_file.attached? %>
				  				<%= link_to document.name, rails_blob_path(document.document_file, disposition: "inline"), target: "_blank" %>
			  					<%= link_to resolution_document_path(resolution_id: @resolution.id, id: document.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-outline-danger rounded-circle text-danger float-right', title: 'Remove Attachment' do %>
			  						<span class="fa fas fa-times"></span>
			  					<% end if current_user_admin? %>
				  			<% end %>
			  			<% end %>
			  		<% end %>
			  	</td>
		  	</tr>
		  </tbody>
		</table>
	</div>
</div>