<div class="modal-header">
  <h5 class="modal-title">Merge Committee</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% remote ||= false %>
<%= simple_form_for @committee_merger, remote: remote, url: :settings_mergers_committees, method: :post do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <h3>Select committee to be merged</h3>
    <%= f.input :merge_from_id, label: false, collection: Committee.all.map{|c| [c.name, c.id]}, input_html: {id: "committeeMergeFromSelect"} %>
    <h3>Merge To:</h3>
    <%= f.input :merge_to_id, label: false, collection: Committee.all.map{|c| [c.name, c.id]}, input_html: {id: "committeeMergeToSelect"} %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Merge", class: "btn btn-outline-danger float-right", data: { disable_with: "Processing..." } %>
  </div>
<% end %>