<div class="card shadow mb-4">
	<div class="card-header py-3">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<h2 class="font-weight-bold text-primary">Committees</h2>
			</div>
			<div class="col-md-6 col-sm-12">
				<%=form_tag committees_path, method: :get, class: "" do %>
				  <div class="input-group">
				    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for committees..." %>
				    <span class="input-group-append">
				      <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-primary") do %>
				        <i class="fas fa-search fa-sm"></i>
				      <% end %>
				    </span>
				  </div>
				<% end %>
			</div>
			<div class="col-md-3 col-sm-12">
				<%= link_to "New Committee", new_committee_path, class: "btn btn-primary btn-sm text-right pull-right float-right mt-md-0 mt-3", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } if current_user_admin? %>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
      	<table class="table">
	      	<thead>
	        	<tr>
	        		<td>Name</td>
	        	</tr>
	        </thead>
	        <tbody>
	        	<% @committees.each do |committee| %>
		        	<tr>
		        		<td><%= link_to highlight(committee.name, params[:search]), committee_path(committee) %></td>
		        	</tr>
		        <% end %>
	        </tbody>
	      </table>
	      <center><%= paginate @committees, :window => 1 %></center>
      </div>
    </div>
	</div>
</div>