<% if current_user.developer? %>
  <h5>Upload Committees</h5>
  <%= simple_form_for @committees_import, url: :settings_importers_committees do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :file, as: :file, label: false, input_html: { class: 'choose-btn center-block' } %>
      </div>
      <div class="col-md-6">
        <%= f.submit "Upload", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
      </div>
    </div>
  <% end %>
  <hr class="my-4">
  <h5>Upload Committee Memberships</h5>
  <%= simple_form_for @memberships_import, url: :settings_importers_memberships do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :file, as: :file, label: false, input_html: { class: 'choose-btn center-block' } %>
      </div>
      <div class="col-md-6">
        <%= f.submit "Upload", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
      </div>
    </div>
  <% end %>
<hr class="my-4">
<% end %>
<div class="row">
	<div class="col-md-6">
		<h5 class="">Merge Committees</h5>
	</div>
	<div class="col-md-6">
		<%= link_to "Launch Merge Form", new_settings_mergers_committee_path, class: "btn btn-outline-danger float-right", remote: true, data: { toggle: "modal", target: '#remote-modal', backdrop: 'static', keyboard: false } %>
	</div>
</div>