<h5>Members Upload</h5>
<%= simple_form_for @members_import, url: :settings_importers_members do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :file, as: :file, label: false, input_html: { class: 'choose-btn center-block' } %>
    </div>
    <div class="col-md-6">
      <%= f.submit "Upload", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
    </div>
  </div>
<% end %>
<hr class="my-4">
<h5>Upload Member Terms</h5>
<%= simple_form_for @member_terms_import, url: :settings_importers_member_terms do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :file, as: :file, label: false, input_html: { class: 'choose-btn center-block' } %>
    </div>
    <div class="col-md-6">
      <%= f.submit "Upload", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
    </div>
  </div>
<% end %>

<hr class="my-4">
<h5>Merge Members</h5>
<div class="row">
  <div class="col-md-6">
    <p>Merge duplicated members at once.</p>
  </div>
  <div class="col-md-6">
    <%= link_to "Merge", settings_mergers_members_path, action: :merge, method: :post, class: "btn btn-outline-danger float-right" %>
  </div>
</div>