<ul class="nav nav-pills">
	<li class="nav-item">
	  <%= link_to 'Office', settings_path, class: "nav-link #{'active' if current_page?(settings_path)}" %>
	</li>
	<li class="nav-item">
	  <%= link_to 'Positions', settings_positions_path, class: "nav-link #{'active' if current_page?(settings_positions_path)}" %>
	</li>
	<li class="nav-item">
	  <%= link_to 'Parties', settings_political_parties_path, class: "nav-link #{'active' if current_page?(settings_political_parties_path)}" %>
	</li>
	<li class="nav-item">
	  <%= link_to 'Ordinance/Resolution Categories', settings_categories_path, class: "nav-link #{'active' if current_page?(settings_categories_path)}" %>
	</li>
	<li class="nav-item">
	  <%= link_to 'SP Terms', settings_sp_terms_path, class: "nav-link #{'active' if current_page?(settings_sp_terms_path)}" %>
	</li>
	<li class="nav-item">
	  <%= link_to 'Committees', settings_committees_path, class: "nav-link #{'active' if current_page?(settings_committees_path)}" %>
	</li>
	<li class="nav-item">
	  <%= link_to 'SP Members', settings_members_path, class: "nav-link #{'active' if current_page?(settings_members_path)}" if current_user.developer? %>
	</li>
	<li class="nav-item">
	  <%= link_to 'Ordinances', settings_ordinances_path, class: "nav-link #{'active' if current_page?(settings_ordinances_path)}" if current_user.developer? %>
	</li>
	<li class="nav-item">
	  <%= link_to 'Resolutions', settings_resolutions_path, class: "nav-link #{'active' if current_page?(settings_resolutions_path)}" if current_user.developer? %>
	</li>
	<li class="nav-item">
	  <%= link_to 'Exports', settings_exports_path, class: "nav-link #{'active' if current_page?(settings_exports_path)}"%>
	</li>
</ul>