<div class="modal-body">
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :author_id, label: 'Author', collection: Member.all.map{|m| [m.name, m.id]}, input_html: {id: "authorSelect"} %>
  <%= f.input :role, label: "Author Type", collection: Authorship.roles.keys.to_a.map{ |a| [a.titleize, a]} %>
  <%= f.input :author_type, input_html: {value: "Member"}, as: :hidden %>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>
<script type="text/javascript">
  $( "#authorSelect" ).select2({
    theme: "bootstrap",
    width: '100%'
  });
</script>