<div class="modal-body">
  <%= f.error_notification %>

  <%= f.input :sponsor_id, label: 'Sponsor', collection: Committee.all.map{ |a| [a.name, a.id]}, input_html: {id: "sponsorSelect"} %>
  <%= f.input :role, as: :string, input_html: {value: "principal"}, as: :hidden %>
  <%= f.input :sponsor_type, input_html: {value: "Committee"}, as: :hidden %>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>
<script type="text/javascript">
  $( "#sponsorSelect" ).select2({
    theme: "bootstrap",
    width: '100%'
  });
</script>