<div class="modal-body">
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :dated_at, as: :string, label: "Dated at", placeholder: "Select date...", input_html: { class: "dated_at" } %>
  <%= f.input :effectivity_date, as: :string, placeholder: "Select date...", input_html: { class: "effDate" } %>
  <%= f.input :term_id, collection: @member.terms.map {|t| [t.in_year_range, t.id]} %>
  <%= f.input :monthly_salary, label: "Actual monthly basic salary", input_html: {id: "mSalary"}, as: :currency %>
  <%= f.input :adjustment, label: "Monthly salary adjustment", input_html: {id: "adjustment"}, as: :currency %>
  <label>Adjusted Monthly Salary</label>
  <p class="border py-2"><span class="px-3">₱ </span><span id="sTotal"></span></p>
  <%= f.input :adjusted_salary, label: false, input_html: {id: "aSalary"}, as: :hidden %>
  <%= f.input :member_id, as: :hidden, input_html: {value: @member.id} %>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>
<script type="text/javascript">
  $('#mSalary, #adjustment').on('input', function(){
    moSal = parseFloat($('#mSalary').val().replace(/,/g, ''))||0;
    adjmnt = parseFloat($('#adjustment').val().replace(/,/g, ''))||0;
    total = moSal + adjmnt;
    $('#aSalary').val(total);
    $('#sTotal').html(total.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
    console.log(total);
  });
  $('#mSalary, #adjustment').trigger('input');
</script>