<div class="modal-body">
  <%= f.error_notification %>

  <%= f.input :stage_id, collection: Stage.for_resolutions.map{|s| [s.name, s.id]}, input_html: {class: "stageSelect"} %>
  <label class="dateLabel"></label>
  <%= f.input :date, as: :string, label: false, placeholder: "Select date...", input_html: { class: "datePickerNoValue" } %>
  <div class="effDate">
    <%= f.input :effectivity_date, as: :string, label: "Date Adopted", placeholder: "Select date...", input_html: { class: "datePickerNoValue dateEnacted" } %>
  </div>
  <div class="sameCheck">
    <%= f.input :same_as_date_approved, as: :boolean, input_html: {class: "pb-0 sameAsApproved"} %>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit "Save", class: "btn btn-outline-success float-right", data: { disable_with: "Processing..." } %>
</div>

<script type="text/javascript">

  $(function() {

    $('.datepicker, .dateEnacted').on('change', function(){
      if($('.datepicker').val() == $('.dateEnacted').val()) {
        $('.sameAsApproved').prop('checked', true);
      }
    }).change();
    
    $('.sameCheck').hide();
    $('.effDate').hide(); 
    $('.stageSelect').change(function(){
      if($('.stageSelect').val() == '9') {
        $('.effDate').show(); 
        $('.dateLabel').text('Date Approved');
      } else {
        $('.effDate').hide();  
        $('.dateLabel').text('Date Adopted')
      } 
    }).change();
  });

  $('.sameAsApproved').change(function(){
    if ($(this).is(':checked')) {
      $('.effDate').hide();
    } else {
      $('.effDate').show();
    }
  }).change();

  
</script>

