<h2 class="font-weight-bold text-primary">
	<span class="fa fa-server ml-2"></span> Reports
</h2>
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<ul class="nav nav-pills">
		  <li class="nav-item">
		    <%= link_to 'Members', reports_members_path, class: "nav-link #{'active' if current_page?(reports_members_path)}" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to 'Committees', reports_committees_path, class: "nav-link #{'active' if current_page?(reports_committees_path)}" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to 'Ordinances', reports_ordinances_path, class: "nav-link #{'active' if current_page?(reports_ordinances_path)}" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to 'Resolutions', reports_resolutions_path, class: "nav-link #{'active' if current_page?(reports_resolutions_path)}" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to 'Minutes', reports_minutes_path, class: "nav-link #{'active' if current_page?(reports_minutes_path)}" %>
		  </li>
		</ul>
	</div>
	<div class="card-body">
		<% if current_page?(reports_members_path) %>
	    <%=render 'reports/shared/members' %>
	  <% end %>
		<% if current_page?(reports_committees_path) %>
	    <%=render 'reports/shared/committees' %>
	  <% end %>
	  <% if current_page?(reports_ordinances_path) %>
	    <%=render 'reports/shared/ordinances' %>
	  <% end %>
		<% if current_page?(reports_resolutions_path) %>
	    <%=render 'reports/shared/resolutions' %>
	  <% end %>
	  <% if current_page?(reports_minutes_path) %>
	    <%=render 'reports/shared/minutes' %>
	  <% end %>
	</div>
</div>