<div class="card shadow mb-3">
	<div class="card-header py-3">
		<h3 class="font-weight-bold text-primary mb-0">
			<span class="fa fa-server ml-2"></span> Reports
		</h3>
	</div>
	<div class="card-body">
		<div class="d-none d-sm-inline-block">
			<%= render 'reports/partials/nav_links' %>
		</div>
		<!-- Small Size Compatibility -->
		<div class="d-sm-none">
			<div id="accordion">
	      <h4 class="mb-0">
	        <a class="btn btn-primary text-left btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          <%= 'Members' if current_page?(reports_members_path) %>
	          <%= 'Committees' if current_page?(reports_committees_path) %>
	          <%= 'Ordinances' if current_page?(reports_ordinances_path) %>
	          <%= 'Resolutions' if current_page?(reports_resolutions_path) %>
	          <%= 'Minutes' if current_page?(reports_minutes_path) %>
	          <span class="fa fa-bars small py-1 float-right"></span>
	        </a>
	      </h4>

		    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
		      <%= link_to 'Members', reports_members_path, class: "dropdown-item mt-2" %>
		      <div class="dropdown-divider"></div>
					<%= link_to 'Committees', reports_committees_path, class: "dropdown-item" %>
					<div class="dropdown-divider"></div>
					<%= link_to 'Ordinances', reports_ordinances_path, class: "dropdown-item" %>
					<div class="dropdown-divider"></div>
					<%= link_to 'Resolutions', reports_resolutions_path, class: "dropdown-item" %>
					<div class="dropdown-divider"></div>
					<%= link_to 'Minutes', reports_minutes_path, class: "dropdown-item" %>
		    </div>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<% if current_page?(reports_members_path) %>
	    <%=render 'reports/shared/members' %>
	  <% end %>
		<% if current_page?(reports_committees_path) %>
	    <%=render 'reports/shared/committees' %>
	  <% end %>
	  <% if current_page?(reports_ordinances_path) %>
	    <%=render 'reports/shared/ordinances' %>
	  <% end %>
		<% if current_page?(reports_resolutions_path) %>
	    <%=render 'reports/shared/resolutions' %>
	  <% end %>
	  <% if current_page?(reports_minutes_path) %>
	    <%=render 'reports/shared/minutes' %>
	  <% end %>
	</div>
</div>

<script type="text/javascript">
	$('.collapse').collapse()
</script>