<div class="card mb-1">
	<div class="card-body min-padding">
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<% if member.avatar.attached? %>
					<%= image_tag(member.avatar, height: 60, width: 60, class: "mx-auto d-block") %>
				<% else %>
					<%= image_tag('default', height: 60, width: 60, class: "mx-auto d-block") %>
				<% end %>
			</div>
			<div class="col-md-10 col-sm-10">
				<h5 class="mb-0 text-primary"><%= highlight(member.name, params[:search]) %></h5>
				<small class="badge bg-info"><%= member.current_position %></small>
				<br>
				<small class="text-muted"><%= member.current_party %></small>
			</div>
		</div>
	</div>
</div>