<div class="card mb-1">
	<div class="card-body p-2">
		<div class="row">
			<div class="d-block ml-3">
				<% if member.avatar.attached? %>
					<%= image_tag(member.avatar, height: 60, width: 60, class: "mx-auto d-block") %>
				<% else %>
					<%= image_tag('default', height: 60, width: 60, class: "mx-auto d-block") %>
				<% end %>
			</div>
			<div class="d-block ml-3">
				<h6 class="mb-0 text-primary"><%= highlight(member.name, params[:search]) %></h6>
				<small class="badge bg-info"><%= member.current_position %></small>
				<br>
				<small class="text-muted"><%= member.current_party %></small>
			</div>
		</div>
	</div>
</div>