<!DOCTYPE html>
<html>
  <head>
    <title>SPIS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <%=render 'layouts/shared/remote_modal' %>
      <%=render 'layouts/shared/sidebar' %>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%=render 'layouts/shared/header' %>
          <div class="container-fluid px-md-3 px-0">
            <%=render 'layouts/shared/flash' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    if ($(window).width() < 768) {
      $('.nav-pills').addClass('flex-column')
    }
  </script>
</html>
